@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import "tailwindcss";

/* GLobal */
html {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    height: 100%;
  }
}
body {
  height: 100%;
}
h1 {
  font-family: "Black Ops One", sans-serif;
}

/* Home */
.screenContainer {
  background-color: #125687;
  /* flex: 1; */
  height: 100%;
  padding: 0.75rem;
  width: 100%;
}

.bannerContainer {
  background-image: url("../assets/logo-main.svg");
  background-color: #faedd6;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 30px;
  height: 100px;
  margin-bottom: 20px;
}

.formContainer {
  background-color: rgb(255, 255, 224, 0.25);
  border-radius: 30px;
  margin: 30px 30px 30px 30px;
  padding: 20px 20px 20px 20px;
  align-self: center;
}

.field {
  border-width: 1px;
  border-radius: 10px;
  font-family: "Black Ops One", sans-serif;
  margin: 0px 0px 20px 0px;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

.button {
  border-radius: 1rem;
  background-color: chocolate;
  color: white; /* text-white */
  cursor: pointer; /* show pointer on hover */
  display: block; /* make it a block-level element */
  font-weight: 600; /* font-semibold */
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: background-color 0.2s; /* smooth hover transition */
}

.button:hover {
  background-color: #125687; /* hover:bg-blue-600 */
}
